<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://kulujenseuranta.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>kulujenseuranta.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>KulujenSeuranta</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$KulujenSeuranta</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:hsijre6m4t.database.windows.net,1433;Initial Catalog=KulujenSeurantaDB;User ID=lukkarip@hsijre6m4t;Password=Vanessa2013" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="KulujenSeuranta.Models.ApplicationDbContext, KulujenSeuranta" MigrationConfiguration="KulujenSeuranta.Migrations.Configuration, KulujenSeuranta" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:hsijre6m4t.database.windows.net,1433;Initial Catalog=KulujenSeurantaDB;User ID=lukkarip@hsijre6m4t;Password=Vanessa2013</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>