@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kulujen Seuranta Application</h1>
    <p class="lead">Kulujen Seuranta is application for managing your payments.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Payments</h2>
        <p>Leipätekstiä ...</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Statistics 1</h2>
        <p>Leipätekstiä ...</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Statistics 2</h2>
        <p>Leipätekstiä ...</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Go &raquo;</a></p>
    </div>
</div>